# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/
env/

# Databases & local environment
db.sqlite3
.env
.env.example

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Docker
.dockerignore

# IDE configs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
